.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0 20px;
}

.container > button {
  border: none;
  outline: none;
  cursor: pointer;
}
.container > button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.select {
  margin: 0 9px;
  background-color: transparent;
  display: flex;
}
.page {
  font-size: 20px;
  font-weight: 600;
  max-width: 64px;
  text-align: center;
  border: 2px solid rgba(196, 37, 33, 0.6);
  border-radius: 16px;
  outline: none;
  color: white;
  background-color: #1a1a1a;
  -moz-appearance: textfield;
}
.page::-webkit-outer-spin-button,
.page::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.totalAmount {
  color: white;
  text-align: center;
}